.faqouter{
  width: 1320px;
  margin: auto;
  
}
.App h1{
  text-align: center;
  font-weight: bold;
}
.faqItems{
  border: 1px solid red;
  margin-bottom: 20px;
}
.faqItems h2{
  margin: 0px;
  padding: 8px;
  background-color: #282c34;
  color: white;
  text-align: left;
}
.faqItems p{
  text-align: left;
  height: 0px;
  margin: 0px;
  transform: scaleY(0);
  padding: 0px;
}
.activeAns{
  height: auto;
  transform: scaleY(1);
  padding : 10px;
}
  