.menu{
  width: 80px;
  position: fixed;
  left: -100%;
  height: 100vh;
  background-color: burlywood;
  text-align: left;
  transition: 0.5s;
}
.menu ul li{
  padding: 10px 0px;
}
.micon{
  position: absolute;
  right: 10px;
}
.activeMenu{
  left:0%;
}